*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Poppins,sans-serif;
background-image: url("pozadina.jpeg");
color:black;
}

header{
text-align:center;
padding:30px 15px;
background:#f5edda;
}

header h1{
font-size:32px;
}

h2{
font-size:24px;
color: #f5edda;
}

h3{
font-size:14px;
color: #f5edda;
text-align: center;
}

h4{
font-size:12px;
color: #f5edda;
text-align: center;
}

header p{
opacity:0.7;
margin-top:5px;
}

#app{
max-width:800px;
margin:auto;
padding:20px;
}

.grid{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card{
background:#f5edda;
padding:25px;
border-radius:16px;
text-align:center;
cursor:pointer;
transition:0.2s;
font-size:18px;
}

.card:hover{
transform:scale(1.05);
}

.item{
display:flex;
justify-content:space-between;
align-items: flex-start;
padding:12px 0;
flex-wrap: nowrap;
color: #f5edda;
border-bottom:1px solid #2a2a2a;
}

.back{
display:inline-block;
margin-bottom:15px;
padding:8px 12px;
background:#f5edda;
border-radius:10px;
cursor:pointer;
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.flavours {
  font-size: 10px;
  opacity: 0.7;
  margin-top: 2px;
}

.name {
  font-size: 16px;
}